/*Fonte do TrackIt*/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@keyframes popin {
    to {
        transform: scale(1);
    }
}

form {
    position: absolute;
    width: 20%;
    height: 100vh;

    box-shadow: 1px 1px 10px 1px #000000;
    border-radius: 10px;
    transition: all 1s ease;
    overflow: hidden;
    white-space: normal;
    z-index: 1000;

}

body {
    position: relative;
    margin: 0px;
}

#retract-filters {
    position: absolute;
    right: 10px;

    font-family: "Lalezar";
    font-size: 30px;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: all 1s ease;
}

details {
    margin-top: 15px;
    padding: 10px;
    margin-left: 10px;

    cursor: pointer;

    color: #9676F1;
    font-family: "Lalezar";
    font-size: 20px;
}

details div {
    max-width: 250px;
    font-size: 16px;
}

details div input {
    color: #9676F1;
    font-family: "Lalezar";
    margin-bottom: 15px;
    border-radius: 10px;
    border: 3px groove #9676F1;
}

#filter-categories {
    display: flex;
    flex-direction: column;
}

.expense-category canvas {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.expense-category label {
    line-height: 0px;
    margin: 0px;
    padding: 0px;
    text-wrap: nowrap;
}

.expense-category {
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: large;
    gap: 10px;
}

#tables {
    transition: all 1s ease;

    position: relative;
    margin-left: 20%;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


table {
    margin-top: 50px;

    width: 80%;

    right: 40vw;
    left: 40vw;

    padding: 20px;

    box-shadow: 1px 1px 5px #9676F1;

    border-color: #9676F1;
    border-style: solid;
    border-collapse: collapse;
    border-width: 2px;
    border-radius: 20px;
    overflow: hidden;
}

th,
td {
    border-radius: 20px;

    font-family: "Lalezar";
    font-size: 15px;
    font-weight: lighter;
    color: #9676F1;

    border: 1px solid #9676F1;
    padding: 10px;

    text-wrap: nowrap;
}

tr {
    text-align: center;
}

.del-button {
    color: #FFFFFF;
    background-color: #D63737;
    font-family: "Lalezar";
    border-radius: 3px;
    border-style: none;
}

.alt-button {
    color: #FFFFFF;
    background-color: #4050FC;
    font-family: "Lalezar";
    border-radius: 3px;
    border-style: none;
}

.popup {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 9999;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
}

.close {
    font-family: "Lalezar";
    cursor: pointer;
    font-size: 16px;
    right: 10px;
    width: min-content;
    height: min-content;
}

#edit-expense {
    background-color: #FFFFFF;

    transform: scale(0);
    animation: popin 0.3s forwards;
    transition: all 0.1s ease;

    border: 5px solid #4050FC;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    padding: 10px;

    width: 300px;
    height: 260px;
}

#edit-expense input,
#edit-expense select {
    height: 25px;
    color: #9676F1;
    border: 3px #4050FC solid;
    margin-bottom: 15px;
    border-radius: 10px;
    font-family: "Lalezar";
    font-size: 16px;
}

#edit-expense button {
    height: 30px;
    width: 150px;
    align-self: center;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 3px #4050FC solid;
    font-family: "Lalezar";
    color: #9676F1;
    font-size: 16px
}

#edit-expense input::placeholder {
    color: #9676F1;
}